
footer {
	position: fixed;
	color: black;
	bottom: 0;
	right: 0;
	padding-left: 15px;
	font-family: 'Yellowtail', cursive;
}

.friendProfilePhoto {
	border-radius: 50%;
	height: 200px;
	width: 200px;

}

.centerBlock {
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.centerText {
	text-align: center;
}

.friendProfileData {
	display: block;
	margin: 0 auto;
	
}