/* Color Scheme
 
#FF2D66 indian red (255, 45, 102, 0)
#27CCC0 aquamarine (39, 204, 192, 0)
#2B2E3E slate gray (43, 46, 62, 0)
#1C1E28 back black (28, 30, 40, 0)
*/

:root {
	--main-bg-color: #1C1E28;
	--secondary-bg-color: #2B2E3E;
	--main-a-color: #FF2D66;
	--main-button-color: #27CCC0;
}

* *:before *:after {
	box-sizing: border-box
}

html {
	font-size: 10pt;
}

body {
	/* border: 1px solid; */
	overflow-x: hidden;
	/* overflow-y: hidden; */
	display: block;
	overflow-x: hidden;
	z-index: 0;
	background-image: linear-gradient(to top, rgba(28,30,40,0.851), rgba(28,30,40,0.851)), url('/assets/bgImage.jpg');
	background-position: 0% 0% center;
	background-size: auto, cover;
	background-attachment: scroll;
	color: white;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	/* z-index: 2; */
}

section > .inner {
	position: relative;
	max-width: 100%;
	/* z-index: 1; */
}

.wrapper {
	/* border: 1px solid white; */
	width: 60em;
	height: 40em;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inner {
	/* border: 1px solid white; */
	/* position: relative; */
	z-index: 1;
	max-width: 70%;
	width: 30em;
	/* height: 45em; */
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:  rgba(43, 46, 62, .7);
	border-radius: 0.5em;
}

/*=====Text and Headers=====*/
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.8em;
	text-align: center;
	margin: 0.5em 0;
}

p, a {
	font-family: 'Raleway', sans-serif;
}

p {
	font-size: 1.2em;
}

a {
	color: var(--main-a-color);
	cursor: pointer;
}

a#jsToLoginPage, a#jsToCreateAccountPage {
	margin-bottom: 1em;
}

ol, ul {
	/* border: 1px solid; */
	list-style: none;
}

#home-description {
	display: block;
	line-height: 1.6;
}


/*=====FORMS=====*/
form {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
}

.break-line {
	display: block;
	height: 1em;
	border: 0;
	border-top: 1px solid #ccc;
	width: 8em;
	margin: 1em 0;
	padding: 0;
}

fieldset {
	margin: 1em 1em;
	border: none;
}

input {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	text-align: left;
	width: 13em;
	height: 3em;
	max-width: 100%;
	color: black;
	border: solid 1px #ffffff;
	border-radius: 0.2em;
	margin: 0.4em 0.5em;
	padding: 0 1.0em;
	background-color: white;
}


/*=====BUTTONS=====*/
button {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	text-align: center;
	width: 12.75em;
	height: 3.25em;
	max-width: 100%;
	color: #ffffff;
	border: solid 1px #ffffff;
	border-radius: 1em;
	margin: 0 0.5em;
	background-color: transparent;
	cursor: pointer;
}

button:hover {
	background-color: #ffffff;
	color: #000000;
}

.cta {
	margin-top: 0.5em;
	background-color: var(--main-button-color);
	border: none;
}

.cta2 {
	margin-top: 0.5em;
	background-color: var(--main-a-color);
	border: none;
}

#buttons-home-page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 0;
	margin: 4em 0;
}

#jsToLogin {
	flex: left;
}

#jsToCreateAcct {
	flex: right;
}

#jsCancelCreateFriend {
	margin-top: 0.5em;
}

/*=====Dashboard=====*/

.dashboard-page {
	/* border: 1px solid white; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 100vh;

}

.dashboard-wrapper {
	/* border: 1px solid white; */
	width: 60em;
	/* background-color:  rgba(43, 46, 62, .7); */
}

.dashboard-header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1em;
}

.dashboard-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;

}

.dashboard-inner {
	/* border: 1px solid white; */
}

.dashboard-profiles-container {
	/* border: 1px solid white; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.jsDashboardProfile {
	/* border: 1px solid white; */
	width: 17em;
	height: 17em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 1em;
	background-color:  rgba(43, 46, 62, .7);
	border-radius: 2.5%;

}

.dashboard-profile-photo {
	border: 1px solid white;
	border-radius: 50%;
	width: 10em;
	height: 10em;
	cursor: pointer;
	margin-top: 1em;
}

.dashboard-profile-name {
	cursor: pointer;
	margin-top: 0;
}

/*=====PROFILE PAGE=====*/

.profile-photo {
	border: 1px solid white;
	border-radius: 50%;
	width: 15em;
	height: 15em;
	margin-top: 1em;
}

.profile-details-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	text-align: left;
	margin: 2em 0;
}

.paragraph1 {
	/* float: left; */
	text-align: right;
	width: 50%;
	/* padding-right: 1em; */
}

.paragraph2 {
	/* float: right; */
	text-align: left;
	width: 50%;
	/* padding-left: 1em; */
}

.contact-image {
	/* border: 1px solid white; */
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	margin-right: 2em;
	/* background-image: url('/assets/email-icon.png');
	background-position: 0% 0% center;
	background-repeat: no-repeat;
	background-size: 2em 2em; */
	/* float: left; */

}






footer {
	position: fixed;
	color: black;
	bottom: 0;
	right: 0;
	padding-left: 15px;
	font-family: 'Yellowtail', cursive;
}

