/* Color Scheme
 
#FF2D66 indian red (255, 45, 102, 0)
#27CCC0 aquamarine (39, 204, 192, 0)
#2B2E3E slate gray (43, 46, 62, 0)
#1C1E28 back black (28, 30, 40, 0)
*/

:root {
	--main-bg-color: #1C1E28;
	--secondary-bg-color: #2B2E3E;
	--main-a-color: #FF2D66;
	--main-button-color: #27CCC0;
}

* *:before *:after {
	box-sizing: border-box
}

html {
	font-size: 10pt;
}

body {
	/* border: 1px solid; */
	overflow-x: hidden;
	/* overflow-y: hidden; */
	display: block;
	overflow-x: hidden;
	z-index: 0;
	background-image: linear-gradient(to top, rgba(28,30,40,0.851), rgba(28,30,40,0.851)), url('/assets/bgImage.jpg');
	background-position: 0% 0% center;
	background-size: auto, cover;
	background-attachment: scroll;
	color: white;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.8em;
}

p, a {
	font-family: 'Raleway', sans-serif;
}

a {
	color: var(--main-a-color);
}



#introDescription {
	display: block;
	font-size: 1.2em;
	line-height: 1.6;
}

.wrapper {
	/* border: 1px solid white; */
	width: 60em;
	height: 40em;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inner {
	/* border: 1px solid white; */
	position: relative;
	z-index: 1;
	max-width: 70%;
	width: 20em;
	height: 30em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:  rgba(43, 46, 62, .7);
	border-radius: 0.5em;
	
}

/*Forms*/

.breakLine {
	display: block;
	height: 1em;
	border: 0;
	border-top: 1px solid #ccc;
	width: 8em;
	margin: 1em 0;
	padding: 0;
}

fieldset {
	margin: 1em 1em;
	border: none;
}

input {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	text-align: left;
	width: 13em;
	height: 3em;
	max-width: 100%;
	color: black;
	border: solid 1px #ffffff;
	border-radius: 0.2em;
	margin: 0.4em 0.5em;
	padding: 0 1.0em;
	background-color: white;
}

ol, ul {
	/* border: 1px solid; */
	list-style: none;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	text-align: center;
	width: 12.75em;
	height: 3.25em;
	max-width: 100%;
	color: #ffffff;
	border: solid 1px #ffffff;
	border-radius: 1em;
	margin: 0 0.5em;
	background-color: transparent;
	cursor: pointer;
}

.btn:hover {
	background-color: #ffffff;
	color: #000000;
}

#buttonsHomePage {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 0;
	margin: 4em 0;
}

.btn.login {
	flex: left;
}

.btn.createBfAccount {
	flex: right;
}
.btn.jsSubmitLogin {
	margin-top: 0.5em;
	background-color: #27CCC0;
	border: none;
}

.btn.toCreateAccount {
	margin-top: 1em;
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	/* z-index: 2; */
}

.page > .inner {
	position: relative;
	max-width: 100%;
	/* z-index: 1; */
}

ul {
	list-style: none;
}

.form {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
}

footer {
	position: fixed;
	color: black;
	bottom: 0;
	right: 0;
	padding-left: 15px;
	font-family: 'Yellowtail', cursive;
}





/*OLD CSS*/
/* .friendProfilePhoto {
	border-radius: 50%;
	height: 200px;
	width: 200px;

}

.centerBlock {
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.centerText {
	text-align: center;
}

.friendProfileData {
	display: block;
	margin: 0 auto;
	
} */

/* .jsProfilesContainer {
	width: 400px;
	height: 400px;
} */